h1 {
    text-align: center;
}

span  {
    display: inline-block;
}

.label {
    font-weight: bold;
    margin-bottom: 15px;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 150px;
}